# `yarn` has its own opinions on `package.json`, so `prettier` should ignore it
package.json
yarn.lock

# Non-committed directories
node_modules
.next
dist
.expo
.expo-shared
.vercel
web-build

# misc
.vscode/
